<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
  <head>
    <title>ライバー一覧</title>
  </head>
  <body>
  	<div class="liver-index-wrapper" layout:fragment="contents">
  		<div class="container">
		  	<div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
				<!-- 管理画面のテーブル -->
	  			<table border="1">
	  				<thead>
						<tr>
							<th>ID</th>
							<th>名前</th>
							<th>言語</th>
							<th>ツイッター</th>
							<th>Youtube</th>
							<th>編集</th>
							<th>削除</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="livers : ${list}">
							<td th:text="${livers.id}"></td>
							<td th:text="${livers.name}"></td>
							<td th:text="${livers.language}"></td>
							<td th:text="${livers.twitter_URL}"></td>
							<td th:text="${livers.youtube_URL}"></td>
							
							<td>
								<form th:action="@{/edit}" method="post">
									<input type="submit" class="btn btn-outline-primary" name="edit" value="編集">
									<input type="hidden" name="id" th:value="${livers.id}">
								</form>
							</td>
							
							<td>
								<form th:action="@{/edit}" method="post">
									<input type="submit" class="btn btn-outline-danger" name="delete" value="削除">
									<input type="hidden" name="id" th:value="${livers.id}">
								</form>
							</td>
						</tr>
					</tbody>
	
	  			</table>
	  		</div>


	</div>
  </body>
</html>