<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
<title>Schedule</title>
</head>

<body>
	<div class="pages-home-wrapper text-center" layout:fragment="contents">
	
	
	
	
	
		<div class="row">
		<!-- 時間切り替え -->
		<div class="container col-md-7 ms-5">
			<nav aria-label="AM-PM">
			<ul class="pagination">
		    <li class="page-item"><a class="page-link" href="#">AM</a></li>
		    <li class="page-item"><a class="page-link" href="#">PM</a></li>
	  		</ul>
	  		<div class="row">
	  			<div class="col-6 my-box"></div>
	  			<div class="col-6 my-box"></div>
	  		</div>
	  		<div class="row">
	  			<div class="col-6 my-box"></div>
	  			<div class="col-6 my-box"></div>
	  		</div>
	  		<div class="row">
	  			<div class="col-6 my-box"></div>
	  			<div class="col-6 my-box"></div>
	  		</div>
	  		<div class="row">
	  			<div class="col-6 my-box"></div>
	  			<div class="col-6 my-box"></div>
	  		</div>
	  		<div class="row">
	  			<div class="col-6 my-box"></div>
	  			<div class="col-6 my-box"></div>
	  		</div>
	  		<div class="row">
	  			<div class="col-6 my-box"></div>
	  			<div class="col-6 my-box"></div>
	  		</div>
	  		<div class="row">
	  			<div class="col-6 my-box"></div>
	  			<div class="col-6 my-box"></div>
	  		</div>
	  		<div class="row">
	  			<div class="col-6 my-box"></div>
	  			<div class="col-6 my-box"></div>
	  		</div>
	  		<div class="row">
	  			<div class="col-6 my-box"></div>
	  			<div class="col-6 my-box"></div>
	  		</div>
	  			  		<div class="row">
	  			<div class="col-6 my-box"></div>
	  			<div class="col-6 my-box"></div>
	  		</div>
	  		<div class="row">
	  			<div class="col-12 my-box"></div>
	  		</div>
	  		
		</nav>
		<!-- スケジュールライン -->
			<script type=></script>
		</div>
		
		<!-- ニュースライン -->
		<div class="container col-md-3 ms-3">
			<a>a</a>
		</div>
		
		</div>
	</div>
	

</body>
</html>