h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}
.p-form-top {
    height: 120px;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
#messages {
  ul{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 4px;
    color: black;
    li {
      list-style: none;
      padding: 4px 8px;
      font-size: 18px;
    }
  }
}
.error-message {
  color: red;
}
.error-field {
  background-color: rgba(255,192,203,0.8);
}
nav.navbar {
  background-color: #1a136b;
  border: 1px solid transparent;
  border-color: white;
  border-width: 0 0 1px;
  margin-bottom: 20px;
  padding: 0;
  a {
    color: rgb(0, 0, 0);
  }
  img {
    height: 40px;
  }
}

.pages-home-wrapper {
  width: 100vw;
  height: 100vh;
  
  .row.btn{
    padding-top: 60px;
  }
  ul{
	justify-content:center;
	}

  .pagination{
	margin-bottom: 0px;
	}
}

p.time{
	text-align:center left;
	
}
.top{
	height: 40px;
}

.timeline{
		overflow-y: scroll;
		height: 80vh;
}

.card__textbox{
	height: 360px;

	.card__titletext{
		height: 45px;
		width: 120px;
	}
	.card__overviewtext{
		height: 45px;
	}
	
}
#min{
	width: 120px;
	height: 90px;
	padding-right: 0px;
    padding-left: 0px;
}

#thumb{
	width:120px;
	display:flex ;
	flex-wrap: nowrap;
	padding-right: 0px;
    padding-left: 0px;
}

/*モーダルを開くボタン*/
.modal-open{
		height: 45px;
		width: 120px;

}
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,50%);
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
    box-sizing: border-box;
    z-index: 10000;
}
/*モーダル本体の擬似要素の指定*/
.modal-container:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	z-index: 10000;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active{
	opacity: 1;
	visibility: visible;
	z-index: 10000;
}
/*モーダル枠の指定*/
.modal-body{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 580px;
	width: 90%;
	z-index: 10000;
}
/*モーダルを閉じるボタンの指定*/
.modal-close{
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	top: -40px;
	right: -40px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
.modal-content{
	background: #fff;
	text-align: left;
	padding: 30px;
}
.imge{
	width: 100%;
}

#liver{
	min-width: 150px;
}